asgiref==3.11.1
charset-normalizer==3.4.7
colorama==0.4.6
Django==5.2.12
django-allauth==65.16.1
pillow==12.2.0
qrcode==8.2
reportlab==4.4.10
sqlparse==0.5.5
tzdata==2025.3
python-dotenv==1.2.2
google-generativeai==0.8.6
